/*----СОДЕРЖАНИЕ СТРАНИЦЫ--------*/
.main{
    height: 830px;
    width: inherit;
    background-image: url(../img/fon-on-landing-page.png);
    background-size:auto 900px;
    background-position:0 -70px;
    background-repeat: no-repeat;
/*    padding:0 9.7222% 0 9.7222%;*/
}

/*__________ФОРМА________________*/

/*.main .checkform{
    float: left;
    margin-top: 70px;
    width: 380px;
    height: 374px;
    background-color: #ffffff;
    border:1px solid rgba(0,0,0,0.12);
    box-sizing: border-box;
    box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.2);
    border-radius: 4px;
}

.main .checkform h2{
    text-align:left;
    width: 280px;
    height: 65px;
    left: 30px;
    top:40px;
    font-size:24px;
    line-height:30px;
    font-family: "Quicksand", "Arial", sans-serif;
    font-style: normal;
    font-weight:700;
    letter-spacing: 0.050em;
    color: #1f2041;
}

.main .checkform .info .check{
    width: 83px;    
    height: 15px;    
    top: 120px; 
}

.main .checkform .info .in{
    left: 30px;
}

.main .checkform .info .out{
    left: 200px;
}

.main .checkform .info .checkinput{
    width: 150px;
    height: 44px;
    top:140.44px;
    border-color: rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 4px;
    color: rgba(31,32,65,0.75);
    padding: 7px 1px 8.44px 10px;
    text-transform: uppercase;
}*/

/*.main .checkform .info .checkinput::before{
    position: absolute;
    content:"expand_more";
    top:5px;
    left: 30px;
    height: 44px;
    width: 44px;
    font-family: "Material Icons", "Arial", serif;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    font-size: 24px;
    line-height: 20px;
    color: rgba(31,32,65,0.5);
    z-index: 100;
}*/
/*
.main .checkform .info #checkin{
    left: 30px;
}

.main .checkform .info #checkout{
    left: 200px;
}

.main .checkform .info .guests{
    width: 43px;
    height: 15px;
    left: 30px;
    top: 205px;
}

.main .checkform .info #guests{
    width: 320px;
    height: 44px;
    left: 30px;
    top: 225px;
    border-color: rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 4px;
    color: rgba(31,32,65,0.75);
    padding: 10px 5px 13px 10px;
}
*/
/*.main .checkform .info #guests::before{*/
/*    position: absolute;*/
/*    content:"expand_more";*/
/*    top:5px;*/
/*    left: 5px;*/
 /*   height: 44px;
    width: 44px;
    font-family: "Material Icons", "Arial", serif;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    font-size: 24px;
    line-height: 24px;
    background-color: #ffffff;
    color: rgba(31,32,65,0.5);
    z-index: 200;
}

.main .checkform .info .button{
    border:2px solid #bc9cff;
    border-radius: 22px;
    text-align: center;
    width: 318px;
    height: 42px;
    top: 300px;
    left: 30px;
    color:#ffffff;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    border-color: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
}

.main .checkform .info .button::before{*/
/*    position: absolute;*/
/*    content:"arrow_forward";*/
/*    top:5px;*/
/*    left: 5px;*/
  /*  height: 44px;
    width: 44px;
    font-family: "Material Icons", "Arial", serif;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    font-size: 24px;
    line-height: 20px;
    background-color: transparent;
    color: black;
    z-index: 300;
}
*/
/*___________СЛОГАН_________________*/

/*.main .motto{*/
/*    float: right;*/
/*    width: 25.625%;*/
/*    min-width: 150px;*/
/*    margin: 60% 0 0 0;*/
/*    text-align: right;*/
/*    color: rgba(31,32,65,0.75);*/
/*}*/

/*---------ПСЕВДОРАСПОРКА------------------*/

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}