/*---ОБЩИЕ----*/
@font-face { 
  font-family: "Montserrat"; 
  src: url("../fonts/Montserrat/Montserrat-Regular.woff") format("woff2"), 
       url("../fonts/Montserrat/Montserrat-Regular.ttf") format("ttf"); 
}

@font-face { 
  font-family: "Quicksand"; 
  src: url("../fonts/Quicksand/Quicksand-Regular.ttf") format("ttf"), 
       url("Fontname.woff") format("woff");  
}

body{
    width: auto;
    height: 1343px;
    width: 1440px;
    margin:0;
    padding:0;
    background-color: #ffffff;
    font-family: "Montserrat", "Arial", sans-serif;
    font-style: normal;*/
    font-size:14px;
    line-height: 17px;
}

ul{
    list-style: none; 
    padding: 0;
    margin: 0;
    font-size:14px;
    line-height: 17px;
}

h2, p{
        margin: 0;
        padding: 0;
}

/*------------------------*/

/*----ОБЩИЕ СТИЛИ ДЛЯ ЛОГОТИПА-----*/
.logo{
    position: absolute;
    float: left;
    width: 53.19px;
    height:12.95px;
    left:192.5px;
}

.logo::before{
    position: absolute;
    top: -13.33px;
    left: -52.5px;
    content:"";
    height: 40px;
    width: 40px;
    background-image: url(../img/Logo.svg);
    background-repeat: no-repeat;
}
/*---------*/

/*-----Шапка------*/
header{
    position: relative;
    width: inherit;
    box-sizing: border-box;
    height: 70px;
    padding:0 140px 0 140px;
    font-size:14px;
    line-height: 17px;
    font-weight: bold;
}

header .logo{
    top:28.33px;
}

/*--------НАВИГАЦИЯ В ШАПКЕ------*/

header .header_navigation{
    margin-top: 26px;
    float: left;
    margin-left: 391px;
    position: relative;
}

header .header_navigation li{
    color: rgba(31,32,65,0.5);
}

header .header_navigation > ul > li{
    position: relative;
    display: inline-block;
    margin-right: 17px;
    height:18px;
    font-size: 14px;
}

header .header_navigation .is_included{
    margin-right:40px; /*44px;*/
}

header .header_navigation .is_included::before{
    position: absolute;
    content:"";
    top:5px;
    left: 112%;
    height: 6px;
    width: 6px;
    border-bottom: 2px solid rgba(31,32,65,0.5);
    border-right: 2px solid rgba(31,32,65,0.5);
    background-repeat: no-repeat;
    transform: rotate(45deg);
}

header .header_navigation ul li > ul {
    display: none;
}

header .header_navigation ul li:hover > ul {
    display: block;
    position: absolute; 
    border: 1px solid black;
    background-color: yellow;
}

header .header_navigation ul li > ul:hover {
    display: block;
    position: absolute; 
    border: 1px solid black;
    background-color: yellow;
}

/*-----КНОПКИ---------*/

header .button{
    float: right;
    height: 34px;
    border:2px solid #bc9cff;
    border-radius: 22px;
    font-weight:600;
    font-size:12px;
    line-height:15px;
    text-transform: uppercase;
    margin-top: 18px;
    text-align: center;
    letter-spacing: 0.04em;
    padding: 9px 20px 10px 20px;
    font-style: normal;
    box-sizing: border-box;
}

header #auth{
    width: 80px;
    color:#BC9CFF;
    background-color: inherit;
/*    margin-bottom: 5px;*/
}

header #check{
    width: 190px;
    color:#ffffff;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    border-color: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    margin-left: 15px;
}

header .clearfix{
    clear: both;
}

/*----СОДЕРЖАНИЕ СТРАНИЦЫ--------*/
.main{
    position: relative;
    height: 830px;
    width: inherit;
    background-image: url(../img/fon-on-landing-page.png);
    background-size:auto 900px;/*1534px 1000px*/
    background-position:0 -70px;
    background-repeat: no-repeat;
    font-family: "Montserrat", "Arial", serif;
    font-size: 12px;
    line-height: 15px;
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
}

.main .checkform{
    position: absolute;
    top: 70px;
    left: 140px;
    width: 380px;
    height: 374px;
    background-color: #ffffff;
    border:1px solid rgba(0,0,0,0.12);
    box-sizing: border-box;
    box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.2);
    border-radius: 4px;
}

.main .checkform h2{
    position: absolute;
    text-align:left;
    width: 280px;
    height: 65px;
    left: 30px;
    top:40px;
    font-size:24px;
    line-height:30px;
    text-transform: none;
    font-family: "Quicksand", "Arial", sans-serif;
    letter-spacing: 0.06em;
    color: #1f2041;
}

.main .checkform .info .check{
    position: absolute;  
    width: 83px;    
    height: 15px;    
    top: 120px; 
}

.main .checkform .info .in{
    left: 30px;
}

.main .checkform .info .out{
    left: 200px;
}

.main .checkform .info .checkinput{
    position: absolute;
    width: 150px;
    height: 44px;
    top:140.44px;
    border-color: rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 14px;
    line-height:18px;
    color: rgba(31,32,65,0.75);
    padding: 7px 1px 8.44px 10px;
    font-weight: normal;
    text-transform: uppercase;
    font-family: "Montserrat", "Arial", serif;
}

.main .checkform .info #checkin{
    left: 30px;
}

.main .checkform .info #checkout{
    left: 200px;
}

.main .checkform .info .guests{
    position: absolute;
    width: 43px;
    height: 15px;
    left: 30px;
    top: 205px;
}

.main .checkform .info #guests{
    position: absolute;
    width: 320px;
    height: 44px;
    left: 30px;
    top: 225px;
    border-color: rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 14px
    line-height: 18px;
    font-weight: normal;
    color: rgba(31,32,65,0.75);
    padding: 10px 5px 13px 10px;
    font-family: "Montserrat", "Arial", serif;
}

.main .checkform .info .button{
    position: absolute;
    border:2px solid #bc9cff;
    border-radius: 22px;
    font-weight: bold;
    font-family: "Montserrat", "Arial", serif;
    text-align: center;
    font-style: normal;
    font-size:12px;
    line-height:15px;
    text-transform: uppercase;
    width: 318px;
    height: 42px;
    top: 300px;
    left: 30px;
    color:#ffffff;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    border-color: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
}

.main .motto{
    position: absolute;
    width: 297px;
    height: 48px;
    bottom:20px;
    left: 1010px;
    text-align: right;
    font-size: 14px;
    line-height: 24px;
    color: rgba(31,32,65,0.75);
    font-weight: normal;
    font-style: normal;
    font-family:  "Montserrat", "Arial", serif;
    text-transform: none;
}

footer{
    position: relative;
    width:inherit;
    height: 442px;
}

footer .links{
    margin-left: 440px;
    height: 372px;
}

footer .links .logo{
    top:113.33px;
    }

footer .links > p{
    position: absolute;
    height: 72px;
    width: 260px;
    top: 160px;
    left:140px;
    font-size: 14px;
    line-height: 24px;
    font-weight: normal;
    font-style: normal;
    font-family: "Montserrat", "Arial", serif;
    color: rgba(31,32,65,0.75);
}

footer .links .footer_navigation h2{
    text-transform: uppercase;
    font-size: 12px;
    line-height: 15px;
    font-weight: bold; 
}

footer .links .footer_navigation{
    display: inline-block;
    margin-top:104px;
    vertical-align: top;
}

footer .links div:nth-of-type(2){
    margin-right: 57px;
} 

footer .links div:nth-of-type(3){
    margin-right: 85px;
} 

footer .links div:nth-of-type(4){
    margin-right: 51px;
}

footer .links div:nth-of-type(5){
    margin-right: 0;
} 

footer .links .footer_navigation{
    position: relative;
}

footer .links .footer_navigation ul{
    height: auto;
}

footer .links .footer_navigation div{
    position: absolute;
}

footer .links .footer_navigation ul li,
footer .links .footer_navigation p{
    margin:21px 0;
    color: rgba(31,32,65,0.5);
}



footer .links .footer_navigation p{
    width:260px;
    height:48px;
    text-transform: none;
    font-size: 14px;
    line-height: 24px;
    font-style: normal;
    font-weight: normal;
    font-family: "Montserrat", "Arial", serif;
}

footer .links .footer_navigation #email{
    border: 1px solid rgba(31,32,65,0.25);
    border-right: none;
    box-sizing: border-box;
    border-radius: 4px;
    color: rgba(31,32,65,0.25);
    width:260px;/*18.0555%;*/
    height:44px;
    padding: 12px 15px 8px 15px;
}
/*--------------------------------------------------*/
footer .links .footer_navigation .newsletter{
    position: relative;
/*    border: 1px solid black;*/
}

footer .links .footer_navigation .newsletter .letters{
    position: relative;
    border: none;
    border-right: 1px solid rgba(31,32,65,0.25);
    box-sizing: border-box;
    border-radius: 4px;
    color: rgba(31,32,65,0.25);
    width:44px;/*18.0555%;*/
    height:41px;
    left: 216px;
    top: -43px;
    background-color: #ffffff;
    background-image: url(../fonts/baseline-arrow_forward-24px.svg);
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    vertical-align: middle;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%); 
    -webkit-background-clip: text; 
    color: transparent;
}
/*--------------------------------------------------*/

footer .copyright{
    position: relative;
    width: inherit;
    height: 70px;
    border-top:1px solid rgba(31, 32, 65, 0.75);
}

footer .copyright p{
    position: absolute;
    left:140px;
    top:26px;
    width: 377px;
    height: 18px;
    color: rgba(31, 32, 65, 0.75);
    font-size: 14px;
    line-height: 17px;
    font-style: normal;
    font-weight: normal;
    font-family: "Montserrat", "Arial", serif;
}

footer .copyright .social_networks{
    position: absolute;
    left: 1188px;
    top:23px;
}

footer .copyright .social_networks a{
    margin-right: 17px;
}

footer .copyright .social_networks a:last-child{
    margin-right: 0;
}

